<div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
  <div class="mb-3">
    <label
      for="exampleFormControlInput1"
      class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control form-control-lg"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    >
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="10"
    ></textarea>
  </div>
  <button type="button" class="button btn btn-primary btn-lg">Send</button>
</div>

{% schema %}
{
  "name": "Contact Form Bootstrap",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form bootstrap",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Contact Form Bootstrap"
    }
  ]
}
{% endschema %}
