<div>
  <h1>test</h1>
  <button type="button" class="btn btn-primary">Primary</button>
</div>

{% schema %}
{
  "name": "Test Ref",
  "settings": [
    {
      "id": "test-ref",
      "type": "text",
      "label": "This is a test"
    }
  ],
  "templates": [
    "index",
    "page",
    "product"
  ],
  "presets": [
    {
      "name": "Test Ref",
      "category": "ref"
    }
  ]
}
{% endschema %}
