<div class="container" style="text-align: center">
  <h1>Test</h1>
  <div class="progress">
    <div
      class="progress-bar w-75"
      role="progressbar"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <button type="button" class="btn btn-primary">Primary</button>
</div>

{% schema %}
{
  "name": "Test Ref",
  "settings": [
    {
      "id": "test-ref",
      "type": "text",
      "label": "This is a test"
    }
  ],
  "templates": [
    "index",
    "page",
    "product"
  ],
  "presets": [
    {
      "name": "Test Ref",
      "category": "ref"
    }
  ]
}
{% endschema %}
