<h1>test</h1>

{% schema %}
{
  "name": "Test Ref",
  "settings": [
    {
      "id": "test-ref",
      "type": "text",
      "label": "This is a test"
    }
  ],
  "templates": [
    "index",
    "page",
    "product"
  ],
  "presets": [
    {
      "name": "Test Ref",
      "category": "ref"
    }
  ]
}
{% endschema %}
