<div class="container" style="text-align: center">
  <h1>{{ page.title | replace: "This is cool!" }}</h1>
  <button type="button" class="btn btn-primary btn-lg">Search</button>
</div>

{% schema %}
{
  "name": "Test Ref",
  "settings": [
    {
      "id": "test-ref",
      "type": "text",
      "label": "This is a test"
    }
  ],
  "templates": [
    "index",
    "page",
    "product"
  ],
  "presets": [
    {
      "name": "Test Ref",
      "category": "ref"
    }
  ]
}
{% endschema %}
