<h1>test</h1>


{% schema %}
    {
        "name": "test ref",
        "settings": [
            {
                "id": "test-ref",
                "type": "text",
                "label": "This is a test"
            }
        ],
        "templates": ["index"]
    }
{% endschema %}
